
<div class="container">
  <h1 class="h1_home">Mes biens</h1>
  <br>
  <div>
   <%= link_to 'Mes réservations', owner_reservations_path, class: 'btn btn-ghost owner-flats-btn btn-border-red' %>
   <%= link_to new_owner_flat_path, class: 'btn btn-ghost owner-flats-btn btn-border-red' do %>
   <i class="fas fa-plus"></i>
   <span>Ajouter un bien</span>
   <% end %>
  </div>
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card card-border card-shadow">
            <%= cl_image_tag flat.photo, height: 200, width: 300, crop: :fill%>
            <h5 class="card-newtitle"><%= truncate flat.title, length: 60 %></h5>
            <div class="card-body">
              <div class="card-button-price">
              <!-- <p class="card-text">...</p> -->
                <%= link_to 'Détails', flat_path(flat), class: 'btn btn-ghost btn-ghost-index'%>
                <h2 class="card-trip-pricing"><%= flat.price_per_day %></h2><span class="periode"> € / jour</span>
              </div>
           </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
