<div class="container">
<h1 class="h1-red">Ajouter un nouveau bien</h1>
<br>
<div class="row">
<div class="col-sm-4 col-sm-offset-4">

  <div class="form-inputs">



<%= simple_form_for [:owner, @flat] do |f| %>
  <%= f.input :title, label: 'Titre' %>
  <%= f.input :address, label: 'Adresse' %>
  <%= f.input :description %>
  <%= f.input :square_meter, label: 'Surface' %>
  <%= f.input :capacity, label: 'capacité' %>
  <%= f.input :price_per_day, label: 'Prix par jour' %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, "Valider", class: "btn btn-primary btn-primary-flat" %>
<% end %>

 </div>

    </div>
  </div>
</div>
