<div class="container">
  <% @reservations.each do |reservation| %>

  <div class="card-product card-border card-shadow">
    <%= cl_image_tag reservation.flat.photo, height: 100, width: 100, crop: :fill %>
    <div class="card-product-infos flex-styling">
      <h2 class="title-color"> <%= reservation.flat.title %></h2>
      <p> <%= reservation.flat.address %></p>
      <!-- <h2><%= reservation.price %>€</h2> -->
      <p> Demande envoyée par:</p>
      <p class="periode"><%= reservation.guest.first_name %> <%= reservation.guest.last_name%></p>
    </div>
    <p class="periode flex-styling-short">Du<span class="date-style"><%= reservation.start_date.strftime("%d-%m-%y") %></span>  au  <span class="date-style"><%= reservation.end_date.strftime("%d-%m-%y") %></span></p>
    <p class="align-date status-pad-top"><%= reservation.status %></p>
    <div class="marg-right pad-left">
      <%= link_to "Valider", accept_owner_reservation_path(reservation), method: :patch, class: "btn btn-ghost btn-border-blue"%>
      <%= link_to "Refuser", decline_owner_reservation_path(reservation), method: :patch, class: "btn btn-ghost btn-border-red" %>
    </div>
  </div>
  <% end %>
</div>
