<div class="container">
  <% @reservations.each do |reservation| %>

<div class="card-product">
  <%= cl_image_tag reservation.flat.photo, height: 100, width: 100, crop: :fill %>
  <div class="card-product-infos">
  <h2>Du : <%= reservation.start_date %> au: <%= reservation.end_date %> </h2>
    <h2> <%= reservation.flat.title %></h2>
    <p> <%= reservation.flat.address %></p>
    <h2><%= reservation.price %>€</h2>
    <h2> <%= reservation.guest.first_name %></h2>

  </div>
  <%= reservation.status  %>

  <%= link_to "Valider", accept_owner_reservation_path(reservation), method: :patch, class: "btn btn-ghost btn-border-blue float-md-right"%>
  <%= link_to "Refuser", decline_owner_reservation_path(reservation), method: :patch, class: "btn btn-ghost btn-border-red float-md-left" %>
  </div>
  <% end %>
</div>
