<div class="container">
<% @flats.each do |flat| %>
<div class="card-disposition">
  <div class="card card-flats-index" style="width: 18rem;">
   <%= cl_image_tag flat.photo, height: 200, width: 250, crop: :fill%> <%= flat.owner.first_name %> <%= flat.owner.last_name %>
      <h5 class="card-title"><%= flat.title %></h5>
    <div class="card-body">
      <p class="card-text">
      <%= link_to 'flat', flat_path(flat), class:'btn btn-primary'%>
    </div>
  </div>
</div>
  <% end %>

</div>
