<div class="container">
  <%= link_to 'Retour', flats_path, class: 'btn btn-primary btn-primary-flat-show' %>
  <div class="card-trip card-trip-flat">
    <%= cl_image_tag @flat.photo, crop: :fill%>
    <div class="card-trip-infos card-trip-flat">
      <div>
        <h2><%= @flat.title %></h2>
        <h3><%= @flat.address %></h2>
        <h3><%= @flat.square_meter %>m2 - <%= @flat.capacity %>/pers</h3>
        <p><%= @flat.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @flat.price_per_day %>€</h2>
    </div>
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <% if @flat.owner == current_user %>
      <% else %>
      <h2>Je choisi mes dates :</h2>
        <%= simple_form_for [@flat, @reservation] do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Valider", class: "btn btn-primary btn-primary-flat" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





<!--<img src="<%#= cl_image_tag @flat.owner.avatar, crop: :fill%>" class="card-trip-user avatar-bordered" /> -->
