<div class="container">
  <%= link_to 'Retour', flats_path, class: 'btn btn-primary btn-primary-flat-show' %>
  <div class="card-trip card-trip-flat">
    <%= cl_image_tag @flat.photo, crop: :fill%>
    <div class="card-trip-infos card-trip-flat">
      <div>
        <h2><%= @flat.title %></h2>
        <h3><%= @flat.address %></h2>
        <p><%= @flat.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @flat.price_per_day %>€</h2>
    </div>

<div class="container">
<h1>Je choisi mes dates :</h1>
  <%= simple_form_for [@flat, @reservation] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.button :submit, class: 'btn btn-primary btn-primary-flat' %>
</div>

<% end %>


<!--<img src="<%#= cl_image_tag @flat.owner.avatar, crop: :fill%>" class="card-trip-user avatar-bordered" /> -->
