<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://foncierpublic.com/wp-content/uploads/2019/08/cropped-Logo-foncierpublic.com_-4.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <%= link_to "M'inscrire", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Espace propriétaire", "#", class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "Espace locataire", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <i class="fas fa-bars avatar dropdown-toggle" id="navbarDropdown"  data-toggle= "dropdown"></i>
        <!--<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Notre constat", "#", class: "dropdown-item" %>
          <%= link_to "Notre solution", "#", class: "dropdown-item" %>
          <%= link_to "Les bénéficiaires", "#", class: "dropdown-item" %>
          <%= link_to "Qui sommes-nous ?", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
