<div class="container">
    <h1 class="h1-blue">Mes réservations</h1>
   <br>
<div>
 <%= link_to flats_path, class: 'btn btn-ghost guest-flats-btn btn-border-blue' do %>
   <i class="fas fa-search"></i>
   <span>Nouvelle Recherche</span>
   <% end %>  </div>
   <br>

  <% @reservations.each do |reservation| %>

<div class="card-product card-border card-shadow">
  <%= cl_image_tag reservation.flat.photo, height: 100, width: 100, crop: :fill %>
  <div class="card-product-infos flex-styling-long">
    <h2 class="title-color"> <%= reservation.flat.title %></h2>
    <p> <%= reservation.flat.address %></p>
    <h2 class="title-color price-pad-top"><%= reservation.price %>€</h2>
  </div>
  <p class="periode">Du<span class="date-style"><%= reservation.start_date.strftime("%d-%m-%y") %></span>  au  <span class="date-style"><%= reservation.end_date.strftime("%d-%m-%y") %></span> </p>
  <h5 class="align-right"><%= reservation.status %></h5>
</div>
  <% end %>
</div>
