<h1>Reservations#new</h1>

<div class="container">
<%= simple_form_for(@reservation) do |f| %>
    <%= f.date :start_date %>
    <%= f.date :end_date %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
    <%= f.button :submit %>
  </div>
<% end %>
</div>
